*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}
.card{
    width: 90%;
    max-width: 470px;
    background-color: blueviolet;
    color: beige;
    margin: 50px auto 0;
    border: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search-bar button{
    border: 0;
    outline: o;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.search-bar button img{
    width: 16px;
}

